<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weather_server.mapper.CityMapper">

    <resultMap id="BaseResultMap" type="com.example.weather_server.model.City">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="cityname" column="cityname" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,cityname,
        type
    </sql>
</mapper>
